{% extends "layout.html" %}

{% block title %}Rekap - Dovid! (Donasi Covid-19){% endblock %}

{% block body %}

<div class="container">
    <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-12">
            <div class="card-body">
                <div class="brand-wrapper">
                    <a href="{{ BASE_URL }}/donasi/home"><img src="https://raw.githubusercontent.com/fvldi/EAS_PI_022/3985d8122f8a80b66898c9759ab4f9519016f552/image/Dovid.svg" alt="logo" class="logo"></a>
              </div>
              <p class="login-card-description">Hey lihat!, Berikut donasi yang terkumpul untuk {{ judul }}! 🎉🎉</p>
    <!-- Header Block -->
    

    <!-- Select Category -->
    <div class="row">
        <div class="col-12">
            <form>
                <select class="form-control" onchange="location = this.value">
                    <option disabled selected style="display:none" value="">Pilih kategori donasi</option>
                    <option value="{{ BASE_URL }}/donasi/rekap">
                        Semua Kategori
                    </option>

                    {% for kategori in kategoriArr %}
                    
                    <option value="{{ BASE_URL }}/donasi/rekap/{{ kategori['id'] }}">
                        {{ kategori['nama_kategori'] }}
                    </option>

                    {% endfor %}
                </select>
            </form>
        </div>
    </div>

    <!-- Table Block -->
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">ID Transaksi</th>
                        <th scope="col">Donatur</th>
                        <th scope="col">Email Donatur</th>
                        <th scope="col">Kategori Donasi</th>
                        <th scope="col">Deskripsi</th>
                        <th scope="col">Kuantitas</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in dataArr %}
                    
                    <tr>
                        <td>{{ data['id'] }}</td>
                        <td>{{ data['id_transaksi'] }}</td>
                        <td>{{ data['donatur'] }}</td>
                        <td>{{ data['email_donatur'] }}</td>
                        <td>{{ data['nama_kategori'] }}</td>
                        <td>{{ data['deskripsi'] }}</td>
                        <td>{{ data['kuantitas'] }}</td>
                        <td>{{ data['date'] }}</td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}